<footer class="mt-5 text-center fw-bold bg-secondary text-white" style="opacity: 0.2;">

</footer>
<script src="/js/err_page.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.js" integrity="sha512-NMtENEqUQ8zHZWjwLg6/1FmcTWwRS2T5f487CCbQB3pQwouZfbrQfylryimT3XvQnpE7ctEKoZgQOAkWkCW/vg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function () {
        // jQuery methods go here...
        $('.preloader').fadeOut('slow');
    });
</script>
</body>

</html>