<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap-5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


    <!-- Su dung Boxicons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- Gan link css -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- //favicion -->
    <link rel="icon" type="image/png" href="/img/logo.png" sizes="16x16">

    <!-- ScreenFull -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/5.1.0/screenfull.min.js"
        integrity="sha512-SGPHIoS+NsP1NUL5RohNpDs44JlF36tXLN6H3Cw+EUyenEc5zPXWqfw9D+xmvR00QYUYewQIJQ6P5yH82Vw6Fg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- 
    Thư viện AOS hiệu ứng -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <meta name="viewport" content="viewport-fit=cover, user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- Style rieng cho button -->
    <style>
        /* CSS */
        .button-29 {
            align-items: center;
            appearance: none;
            background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
            border: 0;
            border-radius: 6px;
            box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: inline-flex;
            font-family: "JetBrains Mono", monospace;
            height: 48px;
            justify-content: center;
            line-height: 1;
            list-style: none;
            overflow: hidden;
            padding-left: 16px;
            padding-right: 16px;
            position: relative;
            text-align: left;
            text-decoration: none;
            transition: box-shadow .15s, transform .15s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            will-change: box-shadow, transform;
            font-size: 18px;
        }

        .button-29:focus {
            box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
        }

        .button-29:hover {
            box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
            transform: translateY(-2px);
        }

        .button-29:active {
            box-shadow: #3c4fe0 0 3px 7px inset;
            transform: translateY(2px);
        }





        /* CSS */
        .button-30 {
            align-items: center;
            appearance: none;
            background-color: #FCFCFD;
            border-radius: 4px;
            border-width: 0;
            box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
            box-sizing: border-box;
            color: #36395A;
            cursor: pointer;
            display: inline-flex;
            font-family: "JetBrains Mono", monospace;
            height: 48px;
            justify-content: center;
            line-height: 1;
            list-style: none;
            overflow: hidden;
            padding-left: 16px;
            padding-right: 16px;
            position: relative;
            text-align: left;
            text-decoration: none;
            transition: box-shadow .15s, transform .15s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            will-change: box-shadow, transform;
            font-size: 18px;
        }

        .button-30:focus {
            box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        }

        .button-30:hover {
            box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
            transform: translateY(-2px);
        }

        .button-30:active {
            box-shadow: #D6D6E7 0 3px 7px inset;
            transform: translateY(2px);
        }





        /* CSS */
        .button-44 {
            background: #e62143;
            border-radius: 11px;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: flex;
            font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, "Roboto Slab", "Droid Serif", "Segoe UI", system-ui, Arial, sans-serif;
            font-size: 1.15em;
            font-weight: 700;
            justify-content: center;
            line-height: 33.4929px;
            padding: .8em 1em;
            text-align: center;
            text-decoration: none;
            text-decoration-skip-ink: auto;
            text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
            text-underline-offset: 1px;
            transition: all .2s ease-in-out;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            width: 100%;
            word-break: break-word;
            border: 0;
        }

        .button-44:active,
        .button-44:focus {
            border-bottom-style: none;
            border-color: #dadada;
            box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
            outline: 0;
        }

        .button-44:hover {
            border-bottom-style: none;
            border-color: #dadada;
        }




        /* CSS */
        .button-66 {
            background-color: #0a6bff;
            border-radius: 4px;
            border: 0;
            box-shadow: rgba(1, 60, 136, .5) 0 -1px 3px 0 inset, rgba(0, 44, 97, .1) 0 3px 6px 0;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: inherit;
            font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            margin: 0;
            min-height: 56px;
            min-width: 120px;
            padding: 16px 20px;
            position: relative;
            text-align: center;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: baseline;
            transition: all .2s cubic-bezier(.22, .61, .36, 1);
        }

        .button-66:hover {
            background-color: #065dd8;
            transform: translateY(-2px);
        }

        @media (min-width: 768px) {
            .button-66 {
                padding: 16px 44px;
                min-width: 150px;
            }
        }



        /* CSS */
        .button-78 {
            align-items: center;
            appearance: none;
            background-clip: padding-box;
            background-color: initial;
            background-image: none;
            border-style: none;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            flex-direction: row;
            flex-shrink: 0;
            font-family: Eina01, sans-serif;
            font-size: 16px;
            font-weight: 800;
            justify-content: center;
            line-height: 24px;
            margin: 0;
            min-height: 64px;
            outline: none;
            overflow: visible;
            padding: 19px 26px;
            pointer-events: auto;
            position: relative;
            text-align: center;
            text-decoration: none;
            text-transform: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: middle;
            width: auto;
            word-break: keep-all;
            z-index: 0;
        }

        @media (min-width: 768px) {
            .button-78 {
                padding: 19px 32px;
            }
        }

        .button-78:before,
        .button-78:after {
            border-radius: 80px;
        }

        .button-78:before {
            background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
            content: "";
            display: block;
            height: 100%;
            left: 0;
            overflow: hidden;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -2;
        }

        .button-78:after {
            background-color: initial;
            background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
            bottom: 4px;
            content: "";
            display: block;
            left: 4px;
            overflow: hidden;
            position: absolute;
            right: 4px;
            top: 4px;
            transition: all 100ms ease-out;
            z-index: -1;
        }

        .button-78:hover:not(:disabled):before {
            background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
        }

        .button-78:hover:not(:disabled):after {
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            transition-timing-function: ease-in;
            opacity: 0;
        }

        .button-78:active:not(:disabled) {
            color: #ccc;
        }

        .button-78:active:not(:disabled):before {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
        }

        .button-78:active:not(:disabled):after {
            background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
            bottom: 4px;
            left: 4px;
            right: 4px;
            top: 4px;
        }

        .button-78:disabled {
            cursor: default;
            opacity: .24;
        }




        /* CSS */
        .button-72 {
            align-items: center;
            background-color: initial;
            background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
            border-radius: 42px;
            border-width: 0;
            box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px, rgba(179, 132, 201, 0.4) 0 8px 12px;
            color: #FFFFFF;
            cursor: pointer;
            display: flex;
            font-family: Quicksand, sans-serif;
            font-size: 18px;
            font-weight: 700;
            justify-content: center;
            letter-spacing: .04em;
            line-height: 16px;
            margin: 0;
            padding: 18px 18px;
            text-align: center;
            text-decoration: none;
            text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px, rgba(255, 255, 255, 0.2) 0 0 12px, rgba(57, 31, 91, 0.6) 1px 1px 4px, rgba(57, 31, 91, 0.32) 4px 4px 16px;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: baseline;
        }

        .button-72:hover {
            background-image: linear-gradient(#B384C9, #391F5B 50%);
        }

        @media (min-width: 768px) {
            .button-72 {
                font-size: 21px;
                padding: 18px 34px;
            }
        }





        /* CSS */
        .button-51 {
            background-color: transparent;
            border: 1px solid #266DB6;
            box-sizing: border-box;
            color: #00132C;
            font-family: "Avenir Next LT W01 Bold", sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            padding: 16px 23px;
            position: relative;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
        }

        .button-51:hover,
        .button-51:active {
            outline: 0;
        }

        .button-51:hover {
            background-color: transparent;
            cursor: pointer;
        }

        .button-51:before {
            background-color: #D5EDF6;
            content: "";
            height: calc(100% + 3px);
            position: absolute;
            right: -7px;
            top: -9px;
            transition: background-color 300ms ease-in;
            width: 100%;
            z-index: -1;
        }

        .button-51:hover:before {
            background-color: #6DCFF6;
        }

        @media (min-width: 768px) {
            .button-51 {
                padding: 16px 32px;
            }
        }

        body {
            overflow: hidden;
        }
    </style>
</head>

<body>
    <!--Sử dụng preloader-->
    <div class="preloader"></div>