<%- include('./partials/header'); -%>
    <title>Trang chủ</title>
    <div class="container-fluid text-center" style="  width: 100vw;
    height: 100vh;
    position: relative;padding:0">
        <div class="row" style="height:100vh; ">
            <img src="./img/homePage.png" alt="" style=" width: 100%;
            height: 100%;
            object-fit: fill;">
            <div class="d-flex justify-content-center" style="position: absolute;
            bottom: 17%;
            /* justify-content: space-evenly; */
            flex-direction: column;
            justify-content: center;
            transform: translateX(22px);">
                <a href="/login" class="me-3 text-decoration-none">
                    <button class="button-29" role="button" style="width:100%;">ĐĂNG NHẬP</button>
                </a>

                <br>
                <br>

                <a href="/register" class="me-3 text-decoration-none">
                    <button class="button-30" role="button" style="width:100%;">ĐĂNG KÝ</button>
                </a>
            </div>
        </div>
    </div>
    <%- include('./partials/footer'); -%>